{% extends 'base.html'%}

{%block title %} Playing Boggle {% endblock %}

{%block main%}
<section id="score-board">
    <div>ScoreBoard: </div><div id="score"></div> <div>Time: </div><div id="Timer"></div>
</section>
<section id="message-board">
   <div>Message: </div><div id="message"></div>
</section>

<table id="the_board">
{%for value in session['game_board']%}
<tr>
    {%for val in value%}
        <td>{{val}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

<form id="Guess-Form" >
    <input type="text" name="Guess" id="Guess">
    <label>Guess</label>
    <button type="submit">Enter</button>
</form>

<section id="game_over">
    <div id="game_over_message">Game Over!</div>
 </section>

{% endblock %}

{% block scripts %}
<script src="/static/timer.js"></script>
{% endblock%}